body {
    margin: 0;
    padding: 0;
    background: lightpink;
    color: darkslategrey;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 125%;
}

h1 {
    text-align: center;
    color: purple;
}

h2 {
    text-align: center;
    color: palevioletred;
}

a {
    color: darkslategray;
}

/* Cause links to change color when hovered*/
a:hover {
    color: blanchedalmond;
}

/* Set header position to fixed so it stays at the top of the page on scroll */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: palevioletred;
}

/* center align navigation bar */
header nav ul {
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 10px 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: palevioletred;
}

footer p {
    text-align: center;
    color: aliceblue;
}

.container {
    width: 1024px;
    margin: 0 auto 100px;
}

/* each section in the container takes up 50% of width*/
#captioned-image, #contact-form {
    float: left;
    width: 50%;
}

#captioned-image {
    width: 50%
}

#captioned-image figure {
    margin: 0;
    padding: 0;
}

#captioned-image figcaption {
    background-color: palevioletred;
    color:aliceblue;
    padding: 5px;
    text-align: center;
}

#captioned-image figcaption:hover {
    background-color: darkgoldenrod;
    
}

/* remove default styling on lists in form*/
#contact-form ul {
    list-style: none;
}

#contact-form li {
    margin-bottom: 10px;
}

#contact-form label { 
    float:left;
    width: 100px; 
    margin-right: 20px; 
    text-align: right; 
}

#contact-form button {
    margin-left: 120px;
}